body {
  font-family: 'Poppins', sans-serif;
  background-color: #fffefe;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image:url(https://imgs.search.brave.com/-dBIkI1r5T1kN7hWT4cc-lXMFVgG3ODtkeN_4E64N7E/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi9jcnlw/dG9jdXJyZW5jeS1t/dHN1eWFtYS1jaXR5/LWphcGFuLWNyeXB0/b2N1cnJlbmN5LWFl/cmlhbC12aWV3LWNp/dHktbmlnaHQtMTE5/ODA1NTMzLmpwZw);
  
}
.container {
  text-align: center;
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 50px #071f0155;
  font-size:24px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #0b286c;
}

input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  width: 220px;
  margin-right: 10px;
}

button {
  background: rgb(3, 8, 58);
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background:rgb(51, 57, 129);
}
