<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Crypto Price Checker</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <h1>Crypto Price Checker</h1>
    <form action="/price" method="POST">
      <input type="text" name="coin" placeholder="Enter crypto name (e.g. bitcoin)" required / style="background-color: rgb(3, 8, 58);color: white;">
      <button type="submit">Check Price</button>
    </form>
  </div>
</body>
</html>
